{% extends 'admin/index.html' %}
{% block body %}

<body>
<form id="form1" name="form1" method="post" action="/reply_code">
  <table class="table table-success table-hover">
    <tr>

      <td>
        <textarea name="textarea" class="form-control" placeholder="Enter your reply here..."></textarea>
     </td>
    </tr>
    <tr>
      <td colspan="1" align="center"><label>
        <input type="submit" name="Submit" value="Send" class="btn btn-success"/>
      </label></td>
    </tr>
  </table>
</form>
</body>
{% endblock %}
